In [1]:
mylist = [ 1,2,3,4,5,6,7,8,9,10]

In [5]:
for jelly in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [30]:
for num in mylist:
    if num % 2 == 0:
        print('Even:{0}'.format(num))
    else:
        print('Odd:{0}'.format(num))

Odd:1
Even:2
Odd:3
Even:4
Odd:5
Even:6
Odd:7
Even:8
Odd:9
Even:10

In [29]:
print('This is a string {}'.format('inserted'))

This is a string inserted

In [40]:
list_sum = 0

In [41]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [62]:
mystring = 'Hello World This is Somanath, Bla bla bla '
for _ in range(len(mystring)):
    print('#',end = "")
print("\n")
print(mystring)
for _ in range(len(mystring)):
    print('#',end = "")

##########################################

Hello World This is Somanath, Bla bla bla
##########################################

In [63]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [69]:
mylist = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]

In [70]:
len(mylist)

4

In [72]:
for a,b,c in mylist:
    print(b)

2
5
8
11

In [85]:
d = {'k1':1,'K2':2,'K3':3}

In [88]:
for k,v in d.items():
    print(k,v)

k1 1
K2 2
K3 3